@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body {
  background: #223;
  color: #fff;
  overflow: hidden;
}

.blink {
  animation: blinker 1.0s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

#logo {
  color: #FE53E1;
  font-size: 120pt;
  text-align: center;
  font-family: 'Titan One', cursive;
  margin-top: 37.5vh;
}

#logo2 {
  color: #FE53E1;
  font-size: 24pt;
  padding: 20px;
  padding-bottom: 5px;
  font-family: 'Titan One', cursive;
  margin: 0;
  background: #fff;
  width: calc(100% - 40px);
  border-bottom: 3px solid #ccc;
  text-align: center;
  z-index: 1;
  min-height: 137.5px;
}

.clock {
  font-size: 8pt;
  color: #333;
  font-family: sans-serif;
  margin-top: 8pt;
}

#offline p {
  font-size: 48pt;
  font-weight: bold;
  text-align: center;
  margin-top: 37.5vh;
}